In [2]:
var="gayathri"
print(var[0:3])

gay

In [20]:
k=(2,4,6)
type(k)
l3=[5,7,2,4]
type(l3)
l4=list(k)+l3
l4
l3.append(5)
l3
l3.pop()
l3
l4.pop(0)
l4
l4.remove(4)
l4
l3.insert(3,8)
l3
del l3[0]
l3

[7, 2, 8, 4]

In [6]:
#1
sq=[]
for x in range(10):
    if x==2:
        sq.append(x**2)
    else:
        sq.append(x)
print(sq)
#2 List comp
sq=[x**2 for x in range(10) if x==2]
print(sq)
#3
sq1=[x**2 if x==2 else x for x in range(10)]
print(sq1)
#4
sq2=[j**2 if j==2 else j for x in range(10) for j in range(10)]
print(sq2)

[0, 1, 4, 3, 4, 5, 6, 7, 8, 9]
[4]
[0, 1, 4, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 3, 4, 5, 6, 7, 8, 9, 0, 1, 4, 3, 4, 5, 6, 7, 8, 9, 0, 1, 4, 3, 4, 5, 6, 7, 8, 9, 0, 1, 4, 3, 4, 5, 6, 7, 8, 9, 0, 1, 4, 3, 4, 5, 6, 7, 8, 9, 0, 1, 4, 3, 4, 5, 6, 7, 8, 9, 0, 1, 4, 3, 4, 5, 6, 7, 8, 9, 0, 1, 4, 3, 4, 5, 6, 7, 8, 9, 0, 1, 4, 3, 4, 5, 6, 7, 8, 9, 0, 1, 4, 3, 4, 5, 6, 7, 8, 9]

# set

In [2]:
l1=[1,2,3,4]
s1=set(l1)
print(type(s1))

<class 'set'>

# Dictionary

In [28]:
h={}
type(h)
h['name']='ggg'
h['class']=4
h['place']='ccc'
h
for i,j in h.items():
    print(i)
    print(j)

name
ggg
class
4
place
ccc

# enumerate

In [40]:
for i,j in enumerate(("tic","tac","toe")):
    print(i,j)
for i,j in enumerate(("tic","tac","toe"),start=1):
    print(i,j)
dic={1:34,2:45,3:56}
for i,j in dic.items():
    print(i,j)
l1=[1,2,3,4]
for i,j in enumerate ((l1),start=1):
    print(i,":",j)

0 tic
1 tac
2 toe
1 tic
2 tac
3 toe
1 34
2 45
3 56
1 : 1
2 : 2
3 : 3
4 : 4

# zip

In [41]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = [True, False, True]
zipped_data = zip(list1, list2, list3)
# Convert the zip object to a list to see the contents
result_list = list(zipped_data)
print(result_list)

[(1, 'a', True), (2, 'b', False), (3, 'c', True)]

In [2]:
numbersList = [1, 2, 3, 4 ]
str_list = ['one', 'two']
numbers_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')
result = zip(numbersList, numbers_tuple)
print(list(result))

[(1, 'ONE'), (2, 'TWO'), (3, 'THREE'), (4, 'FOUR')]