In [2]:
def withoutargs():
    print("Function without arguments")
withoutargs()

function without arguments

In [3]:
def add(a,b):
    c=a+b
    print("The addition value is",c)
add(5,6)

The addition value is 11

In [16]:
Lis=[]
def add(*a):
    for i in a:
        Lis.append(i)
    print(Lis)
l=(2,3,4)
add(*l)

[2, 3, 4]

In [17]:
def add(a=5,b=6):
    c=a+b
    print("The addition value is",c)
add()

The addition value is 11

In [18]:
def add(a=5,b=6):
    c=a+b
    print("The addition value is",c)
add(a=2,b=3)

The addition value is 5

In [20]:
dic={}
def con(**a):
    for i,j in a.items():
        dic[i]=j
    print(dic)
con(name='ggg',age=45)

{'name': 'ggg', 'age': 45}

# Regex - Regular expressions are powerful tools for pattern matching and text manipulation within strings.

In [24]:
#1 searching
import re
str = "Local Masuesse is the best album"
srch = "is"
result=re.search(srch,str) #it returns the start and end index value of the word
print(result)
if result:
  print("Match found")
else:
  print("not found")

#2 
str = "Local Masuesse is the Mass album"
srch = r"La"
result=re.search(srch,str)
print(result)
if result:
  print("Match found")
else:
  print("not found")

#3
s = 'GeeksforGeeks: A computer science portal for geeks'
match = re.search(r'portal', s)

print('Start Index:', match.start())
print('End Index:', match.end())

<re.Match object; span=(15, 17), match='is'>
Match found
None
not found
Start Index: 34
End Index: 40

In [28]:
#Matching using special sequences using match group method
#\d Matching digit
str="Local calls 994477878"
srch = r"\d\d\d\d\d\d\d\d\d"
result=re.search(srch,str)
print(result)
if result:
  print("Match found")
else:
  print("not found")

<re.Match object; span=(12, 21), match='994477878'>
Match found

In [29]:
#\D Matching non-digit
str="Local calls 994477"
srch = r"\D\D\D\D\D\D"
result=re.search(srch,str)
print(result)
if result:
  print("Match found")
else:
  print("not found")

<re.Match object; span=(0, 6), match='Local '>
Match found

In [35]:
#\W Matching any word
str ="Local calls @ 994477"
srch=r"\W\W\W"
result=re.search(srch,str)
print(result)

<re.Match object; span=(11, 14), match=' @ '>

In [34]:
#\b Matching boundary
str ="Local calls @ 994477"
srch=r"\bcalls\b"
result=re.search(srch,str)
print(result)

<re.Match object; span=(6, 11), match='calls'>

In [33]:
#findall
str ="Local all calls @ 994477"
srch=r"all"
result=re.findall(srch,str)
print(result)

['all', 'all']

In [36]:
#split
str ="Local al calls @ 994477"
result=re.split("a",str)
print(result)

['Loc', 'l ', 'l c', 'lls @ 994477']

In [37]:
#replacement of a pattern
str1= "The quick brown fox jumps over the lazy dog."
result=re.sub("fox","bear",str1)
print(result)

The quick brown bear jumps over the lazy dog.

In [42]:
# Compiles a regex into a pattern object, which can be reused for matching or substitutions.
# This pattern [a-e] matches all lowercase letters between 'A and M'
p = re.compile('[A-M]')
print(p.findall("Aye, said Mr. Gibenson Stark"))

#2
p = re.compile(r'\d+')
print(p.findall("I went to him at 11 A.M. on 4th July 1886"))

['A', 'M', 'G']
['11', '4', '1886']

In [44]:
print(re.split(r'\W+', 'On 12th Jan 2016, at 11:02 AM'))
print(re.split(r'\d+', 'On 12th Jan 2016, at 11:02 AM'))

['On', '12th', 'Jan', '2016', 'at', '11', '02', 'AM']
['On ', 'th Jan ', ', at ', ':', ' AM']

# csv

In [51]:
import csv
with open('test.csv') as csvfile:
    csv_reader=csv.reader(csvfile)
    next(csv_reader)#skips the header
    for row in csv_reader:
        print(row[0],row[2]) #prints the values

Jade Jade@gggmail.com
Jancy Jancy@gggmail.com
Veera Veera@gggmail.com

IndexError: list index out of range

In [88]:
def sum(a,b):
    action ="this function performs addition"
    c=a+b
    return c
a=5
b=7
sum(a,b)

12

In [89]:
def new_function(*name):
    print(f'my name is {name[1]}')
    print("new function")

new_function(["revathi",19],[1])

my name is [1]
new function

In [90]:
#Method Overloading (Same Method Name, Different Parameters)
class Calculator:
    def add(self, a=0, b=0, c=0):
        return a + b + c

calc = Calculator()

print(calc.add(5, 3))       
print(calc.add(1, 2, 3))    
print(calc.add())           

# def add(a=0, b=0, c=0):
#         return a + b + c
# add(2,3)

my name is revathi
new function

In [92]:
#returns the value of last defined function
def add(a,b):
    c=a+b
    return c

def add(a,b,c):
    d=a+b+c
    return d
    
add(1,2,3)

6

In [99]:
#Encapsulation
#It means restricting direct access to some of the object's components, which is key for data hiding and protection.
class Employee:
   def __init__(self, name, age, salary):
      self.name = name # public variable
      self._age = age # private variable
      self._salary = salary # protected variable
   def displayEmployee(self):
      print ("Name : ", self.name, ", age: ", self._age, ", salary: ", self._salary)

e1=Employee("Bhavana", 24, 10000)
e1.displayEmployee()
print (e1.name)
print (e1._salary)
print (e1._age)

Name :  Bhavana , age:  24 , salary:  10000
Bhavana
10000
24

In [102]:
class Employee:
   def __init__(self, name, age):
      self.__name = name
      self.__age = age

   def get_name(self):
      return self.__name
   def get_age(self):
      return self.__age
   def set_name(self, name):
      self.__name = name
      return
   def set_age(self, age):
      self.__age=age
      return

e1=Employee("Bhavana", 24)
#print ("Name:", e1.__name, "age:", e1.get_age())
e1.set_name("Archana")
e1.set_age(21)
print ("Name:", e1.get_name(), "age:", e1.get_age())

Name: Archana age: 21

In [103]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def __repr__(self):
        return f"Employee: {self.name}, Salary: {self.salary}"

emp1 = Employee("Revathi", 7000)
emp1

Employee: Revathi, Salary: 7000

In [104]:
class Person:
    def __init__(self, name):
        self.name = name
    
    def __str__(self):
        return f"Name: {self.name}"
    
    def __repr__(self):
        return f"Person(name='{self.name}')"
p=Person("revathi")
p

Person(name='revathi')

In [87]:
class student:
    def __init__(self,name,age):
        self._name= name
        self.__age=age
    def __str__(self):
        return f"{self._name}{self.__age}"
s1=student('ggg',15)
print(s1)
#returns value with print

ggg15

In [85]:
class student:
    def __init__(self,name,age):
        self._name= name
        self.__age=age
    def __repr__(self):
        return f"{self._name}{self.__age}"

s1=student('ggg',15)
s1

ggg15

In [ ]:
class Employee:
    def __init__(self, name, age):
        self.__name = name
        self.__age = age

    def get_name(self):
        return self.__name

    def set_name(self, name):
        self.__name = name

    def del_name(self):
        del self.__name

    name = property(get_name,
                    set_name,
                    del_name,
                    "The name of the employee")

    def get_age(self):
        return self.__age

    def set_age(self, age):
        self.__age = age

    def del_age(self):
        del self.__age

    age = property(get_age,
                   set_age,
                   del_age,
                   "The age of the employee")
    
emp = Employee("revathi", 30)
print(emp.name) 
emp.name = "raji"
print(emp.name) 
print(emp.age)

In [ ]:
#inheritance 
#a class that inherits the properties and behaviour from another class
class Parent:
    def show(self):
        print("This is the parent class")

class Child(Parent):
    pass

obj = Child()
obj.show()