# Print all even numbers between 1–20, skipping odd numbers using continue.

In [1]:
i=1
while(i<20):
    if(i%2==0):
        print(i)
    i+=1
    continue

2
4
6
8
10
12
14
16
18

# Accept an integer from the user and print its square. Use try..else to handle invalid inputs.

In [10]:
n= input("Enter the number:")
try:
    if(n>0):
        square=n*n
        print("Square of the given number is:",square)
    else:
        raise ValueError("Enter positive value")
except ValueError as VE:
    print("Value Error:",VE)
except Exception as e:
    print("Enter the valid input.")

Enter the number: k

Enter the valid input.

# Write a program that takes a day number (1–7) and prints the day name. If invalid, print "Invalid Day".

In [14]:
n=int(input("Enter the day number:"))
if 0<n<8:
    match n:
        case 1: print("Monday")
        case 2: print("Tuesday")
        case 3: print("Wednesday")
        case 4: print("Thursday")
        case 5: print("Friday")
        case 6: print("Saturday")
        case 7: print("Sunday")
        case _: print("Invalid day")
else:
    print("Enter positive number")

Enter the day number: -7

Enter positive number

In [15]:
n=int(input("Enter the day number:"))
match n:
    case 1: print("Monday")
    case 2: print("Tuesday")
    case 3: print("Wednesday")
    case 4: print("Thursday")
    case 5: print("Friday")
    case 6: print("Saturday")
    case 7: print("Sunday")
    case _: print("Invalid day")

Enter the day number: -9

Invalid day

# Print a hollow square pattern of size n × n using a nested while loop.

In [5]:
n=int(input("Enter the number:"))
i=1
while i<=n:
    j=1
    while j<=n:
        if i==1 or j==n:
            print("*",end=" ")
        elif i==n or j==1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
        j+=1
    print()
    i+=1

Enter the number: 4

* * * *
*     *
*     *
* * * *

# Search for a number in a list. If found, break the loop; if not found, execute the else block.

In [18]:
l1=[1,2,5,4,11,7,9]
n=int(input("Enter the number to search:"))
for i in l1:
    if(n==i):
      break
else:
    print("number is not found")

Enter the number to search: 3

number is not found

# Use comparison and logical operators to check if a number lies between 100 and 200 and is divisible by 5.

In [22]:
n=int(input("Enter the number:"))
if 100<=n<=200:
    if n%5==0:
        print("The given number satisfies the condition")
    else:
        print("The given number did not satisfies the condition")
else:
    print("The given number did not satisfies the condition")

Enter the number: 104

The given number did not satisfies the condition

# Take two numbers as input and perform division. Handle ZeroDivisionError and invalid input using try..else.

In [4]:
n1= input("Enter the number1:")
n2= input("Enter the number2:")
try:
    n3=int(n1)
    n4=int(n2)
    div = n3/n4
except ZeroDivisionError:
    print("Zero Division Error")
except ValueError:
    print("Value Error")
else:
    print("Division of the given number is:",div)

Enter the number1: h
Enter the number2: 7

Value Error

# Take two numbers as input and show the result of all arithmetic, relational, and logical operators between them.

In [10]:
n1= int(input("Enter the number1:"))
n2= int(input("Enter the number2:"))
print("Arithemetic operations:")
print("sum-",n1+n2)
print("diff-",n1-n2)
print("mul-",n1*n2)
print("div-",n1/n2)
print("floor-",n1//n2)
print("mod-",n1%n2)
print("exp-",n1**n2)
print()
print("Relational operations:")
print("equal to",n1==n2)
print("notequalto",n1!=n2)
print("greater than",n1>n2)
print("lesser than",n1<n2)
print("greater than or equal",n1>=n2)
print("lesser than or equal",n1<=n2)
print()
print("Logical operations:")
print("and",n1>0 and n2>45)
print("or",n1>0 or n2>45)

Enter the number1: 5
Enter the number2: 67

Arithemetic operations:
sum- 72
diff- -62
mul- 335
div- 0.07462686567164178
floor- 0
mod- 5
exp- 67762635780344027125465800054371356964111328125

Relational operations:
equal to False
notequalto True
greater than False
lesser than True
greater than or equal False
lesser than or equal True

Logical operations:
and True
or True

# 1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
Using nested while loop.

In [1]:
num=1 #value to be printed
n=1 #incrementing rows value
while n<=5: #checking rows value
    k=1
    while k<=n:
        print(num,end=" ")
        num+=1
        k+=1 
    print()
    n+=1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

#  * # * # * #
   # * # * # *
   * # * # * #
   # * # * # *
   * # * # * #
# * # * # *  Using nested while loop.

In [4]:
i=1
while(i<=6):
    j=1
    while(j<=6):
        if (i+j) %2 == 0:
            print("*",end=" ")
        else:
            print("#",end=" ")
        j+=1
    print()
    i+=1

* # * # * #
# * # * # *
* # * # * #
# * # * # *
* # * # * #
# * # * # *

#       *
      * *
    * * *
  * * * *
* * * * *        Using nested while loop.

In [3]:
total_rows=5
row_count=1
while row_count<=total_rows:
    space = total_rows-row_count
    while(space>0):
        print(" ",end=" ")
        space-=1
    star=1
    while star<=row_count:
        print("*",end=" ")
        star+=1
    print()
    row_count+=1

        *
      * *
    * * *
  * * * *
* * * * *