# Dictionary

In [64]:
#Creating dic on details of students with two mobile numbers
Details={"name":"GGG","rollno":12345,"age":16,"dept":"IT","mobile":[9999996,5555556]}
Details1={"name":"KKK","rollno":12345,"age":16,"dept":"IT","mobile":[9999996,5555556]}
Details["mobile"][0] # accessing the mobile number
Lis1=list(Details.items())#converting dic to list
print(Lis1)
Details.keys()#printing keys
Details.values()#printing values
Lis2=[[key,value] for key,value in Details.items()]#Printing values as nested list
Lis3=tuple([key,value] for key,value in Details.items())#converting to tuple and printing values as list
Lis4=tuple(Details.items()) #converting in to Tuple
Lis1
#changing/updating key values using newdictionary
Details["age"]=17
Details
up_dict={"rollno":12346,"age":17}
Details1.update(up_dict)
Details1
#Changing key name using pop and assinging value
Details1["phone"]=Details1.pop("mobile")
Details1
#Changing keynames using zip()
Dict1={1:"ddd",2:"gggg",3:"hhhh"}
Lis=["name1","name2","name3"]
newdict=dict(zip(Lis,Dict1.values()))
newdict

[('name', 'GGG'), ('rollno', 12345), ('age', 16), ('dept', 'IT'), ('mobile', [9999996, 5555556])]

{'name1': 'ddd', 'name2': 'gggg', 'name3': 'hhhh'}

# SET

In [83]:
#set operations
set1={"rock","a","baby","rock"}
set1
#converting list to set
list1=["bbb",123,"&&&",123]
set1=set(list1)
set1

{'&&&', 123, 'bbb'}

In [95]:
#add and remove elements to list
set1={"rock","a","baby","rock","bbb",123,"&&&"}
set1.add("909")
set1
set1.update(["hjhk",9])
set1.remove("909")
set1

{'&&&', 123, 9, 'a', 'baby', 'bbb', 'hjhk', 'rock'}

In [93]:
#Logical operations with set
#intersection
set1={"rock","a","baby","rock","bbb",123,"&&&"}
set2={"bbb",123,"&&&",567}
sett=set1&set2
sett
#difference
set1.difference(set2)
set2.difference(set1)
#union
set1.union(set2)
#subset,superset
set1.issubset(set2)
set2.issubset(set1)
set1={"rock","a","baby","rock","bbb",123,"&&&"}
set2={"bbb",123,"&&&"}
set2.issubset(set1)
set1.issubset(set2)
set({"bbb",123}).issubset(set1)
set({"bbb",123}).issuperset(set2)

True