# Dictionary

In [64]:
#Creating dic on details of students with two mobile numbers
Details={"name":"GGG","rollno":12345,"age":16,"dept":"IT","mobile":[9999996,5555556]}
Details1={"name":"KKK","rollno":12345,"age":16,"dept":"IT","mobile":[9999996,5555556]}
Details["mobile"][0] # accessing the mobile number
Lis1=list(Details.items())#converting dic to list
print(Lis1)
Details.keys()#printing keys
Details.values()#printing values
Lis2=[[key,value] for key,value in Details.items()]#Printing values as nested list
Lis3=tuple([key,value] for key,value in Details.items())#converting to tuple and printing values as list
Lis4=tuple(Details.items()) #converting in to Tuple
Lis1
#changing/updating key values using newdictionary
Details["age"]=17
Details
up_dict={"rollno":12346,"age":17}
Details1.update(up_dict)
Details1
#Changing key name using pop and assinging value
Details1["phone"]=Details1.pop("mobile")
Details1
#Changing keynames using zip()
Dict1={1:"ddd",2:"gggg",3:"hhhh"}
Lis=["name1","name2","name3"]
newdict=dict(zip(Lis,Dict1.values()))
newdict

[('name', 'GGG'), ('rollno', 12345), ('age', 16), ('dept', 'IT'), ('mobile', [9999996, 5555556])]

{'name1': 'ddd', 'name2': 'gggg', 'name3': 'hhhh'}

In [16]:
#adding dictionary extra mobile number
Details={"name":"GGG","rollno":12345,"age":16,"dept":"IT","mobile":9999996}
Details.update(mobile=[99999996,888888886])
print(Details)
update1={'Studies':{'school':'kvb school','college':'ciet'}}
Details.update(update1)
Details

{'name': 'GGG', 'rollno': 12345, 'age': 16, 'dept': 'IT', 'mobile': [99999996, 888888886]}

{'name': 'GGG',
 'rollno': 12345,
 'age': 16,
 'dept': 'IT',
 'mobile': [99999996, 888888886],
 'Studies': {'school': 'kvb school', 'college': 'ciet'}}

# SET

In [83]:
#set operations
set1={"rock","a","baby","rock"}
set1
#converting list to set
list1=["bbb",123,"&&&",123]
set1=set(list1)
set1

{'&&&', 123, 'bbb'}

In [95]:
#add and remove elements to list
set1={"rock","a","baby","rock","bbb",123,"&&&"}
set1.add("909")
set1
set1.update(["hjhk",9])
set1.remove("909")
set1

{'&&&', 123, 9, 'a', 'baby', 'bbb', 'hjhk', 'rock'}

In [93]:
#Logical operations with set
#intersection
set1={"rock","a","baby","rock","bbb",123,"&&&"}
set2={"bbb",123,"&&&",567}
sett=set1&set2
sett
#difference
set1.difference(set2)
set2.difference(set1)
#union
set1.union(set2)
#subset,superset
set1.issubset(set2)
set2.issubset(set1)
set1={"rock","a","baby","rock","bbb",123,"&&&"}
set2={"bbb",123,"&&&"}
set2.issubset(set1)
set1.issubset(set2)
set({"bbb",123}).issubset(set1)
set({"bbb",123}).issuperset(set2)

True

# From a list of integers, create a tuple of square roots (use math library), store only prime numbers in a set, and save results in a dictionary with keys: "squares", "primes".

In [70]:
from math import *
List=[1,4,16,36,9]
Tup1=tuple([sqrt(i) for i in List])
print(Tup1)
st1=set()
for i in Tup1:
    if i<=1:
        continue
    elif i>2:
        for j in range(2,int(i)):
            if i%j==0:
                break
        else:
            st1.add(i)
    else:
        st1.add(i)
print(st1)
fdic={}
fdic["squares"]=Tup1
fdic["primes"]=st1
fdic

(1.0, 2.0, 4.0, 6.0, 3.0)
{2.0, 3.0}

{'squares': (1.0, 2.0, 4.0, 6.0, 3.0), 'primes': {2.0, 3.0}}

# Use random.sample() to generate a set of 6 unique numbers for a lottery ticket. Store multiple tickets in a list, and then put them in a dictionary with keys as player names (tuples of first, last name).

In [26]:
from random import *
Lis=[]
for i in range(6):
    k=randint(11,99)
    Lis.append(k)
print(Lis)
Dict={}
Dict[("karthik","bhaskar")]=Lis[0]
Dict[("gayathri","karthik")]=Lis[1]
Dict[("saeyon","karthik")]=Lis[2]
Dict[("thalini","karthik")]=Lis[3]
Dict[("hhhh","bbb")]=Lis[4]
Dict[("ddd","vvv")]=Lis[5]
Dict

[97, 21, 25, 41, 70, 97]

{('karthik', 'bhaskar'): 97,
 ('gayathri', 'karthik'): 21,
 ('saeyon', 'karthik'): 25,
 ('thalini', 'karthik'): 41,
 ('hhhh', 'bbb'): 70,
 ('ddd', 'vvv'): 97}

# Given a dictionary of students → list of marks, use statistics library to compute mean, median. Convert marks into tuples, and store unique average values in a set.

In [34]:
from statistics import *
dict_stu={"KKK":[20,30,40],"GGG":[45,85,65],"SSS":[90,70,45]}
for i,j in dict_stu.items():
    dict_stu[i]=tuple(j)
dict_stu    
setmean=set()
setmedian=set()
for i,j in dict_stu.items():
    m=mean(j)
    setmean.add(m)    
print(setmean)
for i,j in dict_stu.items():
    b=median(j)
    setmedian.add(b)    
print(setmedian)

{65, 68.33333333333333, 30}
{65, 30, 70}

# 4. Use os.listdir() to get all files in a folder. Extract extensions into a list, count frequencies in a dictionary, store unique extensions in a set, and return results as tuples of (extension, count).

In [2]:
from os import*
dir_list = listdir() 
dir_list

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 '260925.ipynb',
 'demo.txt',
 'DS_240925.ipynb',
 'exception handling190925.ipynb',
 'Function_250925.ipynb',
 'Nestedfor_class220925.ipynb',
 'Nestedwhile&List_230925.ipynb',
 'Statements_180925.ipynb',
 'Task 180925.ipynb',
 'Task190925.ipynb',
 'Task220925.ipynb',
 'Task230925.ipynb',
 'Task_240925.ipynb',
 'Types_operators_170925.ipynb']

# 5.Use the datetime library to fetch today’s date, break into parts (day, month, year) stored in a list, convert them into a tuple, store key–value mapping in a dictionary, and finally make a set of unique values.

In [43]:
from datetime import datetime,date,time
curr_datetime=date.today()
print(curr_datetime)
lis=[]
lis.append(curr_datetime.day)
lis.append(curr_datetime.month)
lis.append(curr_datetime.year)
lis
tup=tuple(lis)
Dic={}
Dic["day"]=tup[0]
Dic["month"]=tup[1]
Dic["year"]=tup[2]
Dic

2025-09-25

{'day': 25, 'month': 9, 'year': 2025}

# 6. Create a list of country names, use the len() function to store country name lengths in a dictionary, extract unique lengths using a set, and print sorted lengths as a tuple.

In [53]:
L_country=["India","Pakistan","Iran","China","EEEE"]
len_country=[len(i) for i in L_country]
uni_len_country=set(len_country)
sor_len_country=tuple(sorted(len_country))
Dic_country=dict(zip(L_country,len_country))
Dic_country
uni_len_country
sor_len_country

(4, 4, 5, 5, 8)

# 7. Take marks of students as a list, compute average using the statistics library, store student–marks in a dictionary, extract unique marks into a set, and print sorted unique marks as a tuple.

In [61]:
from statistics import *
Student1_marks=[45,62,78,98]
Student2_marks=[87,45,62,32]
Student1_avg=mean(Student1_marks)
Student2_avg=mean(Student2_marks)
Student1_avg
Student2_avg
Dict_student={}
Dict_student["Student1"]=Student1_marks
Dict_student["Student2"]=Student2_marks
Dict_student
Student=set()
for i in Student1_marks:
    Student.add(i)
for i in Student2_marks:
    Student.add(i)
Tup_student=tuple(sorted(Student))
Tup_student

(32, 45, 62, 78, 87, 98)

# 8. Input a list of numbers, use a dictionary to classify each number as even or odd, store unique numbers in a set, and print them in a sorted tuple.

In [64]:
List1=[33,66,87,34,22,65]
Dict1={}
Leven=[]
Lodd=[]
for i in List1:
    if i%2==0:
        Leven.append(i)
    else:
        Lodd.append(i)
Dict1["Even"]=Leven
Dict1["Odd"]=Lodd
print(Dict1)
Tup1=tuple(sorted(List1))
Tup1

{'Even': [66, 34, 22], 'Odd': [33, 87, 65]}

(22, 33, 34, 65, 66, 87)

# 9. Take a list of integers, use the math library to find factorial of each number, store results in a dictionary, remove duplicate factorials with a set, and print all factorial values as a tuple.

In [69]:
from math import*
BFact=[3,7,8,4,9,9]
AFact=[factorial(i) for i in BFact]
AFact
Dict={}
Dict["Beffact"]=BFact
Dict["Aftfact"]=AFact
Dict
Setfact=set(AFact)
Setfact
Tupfact=tuple(Setfact)
Tupfact

(362880, 40320, 6, 5040, 24)

# 10. Use the random library to generate 15 integers, store them in a list, create a dictionary with number as key and its square as value, extract unique squares using a set, and display them as a sorted tuple.

In [10]:
from random import *
Lis=[]
for i in range(15):
    k=randint(1,15)
    Lis.append(k)
print(Lis)
s=[i*i for i in Lis]
s1=set(s)
s1
dic=dict(zip(Lis,s))
dic #method 1
dic={}
for i in Lis:
    for j in s:
        dic[i]=j
print(dic) #method 2

[9, 3, 6, 6, 4, 14, 1, 14, 6, 10, 4, 9, 13, 7, 9]
{9: 81, 3: 81, 6: 81, 4: 81, 14: 81, 1: 81, 10: 81, 13: 81, 7: 81}

# 11.Take names of 5 cities from user input (list), use the len() function to store city–name length mapping in a dictionary, create a set of unique lengths, and finally sort them into a tuple.

In [16]:
L_city=[]
for i in range(5):
    k=input("Enter the name of the city")
    L_city.append(k)
L_city
dic={}
Len_city= [len(i) for i in L_city]
Len_city
for i in L_city:
    for j in Len_city:
        dic[i]=j
print(dic)
ULen=set(Len_city)
Tup=tuple(sorted(ULen))
print(Tup)

Enter the name of the city fjuik
Enter the name of the city fyfi
Enter the name of the city huhk
Enter the name of the city fhfz
Enter the name of the city gydfs

{'fjuik': 5, 'fyfi': 5, 'huhk': 5, 'fhfz': 5, 'gydfs': 5}
(4, 5)